# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log log file
npm-debug.log

# Ignore .env file containing environment variables
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore compiled binaries
*.log
*.o
*.exe

# Ignore build output directory
/build/

# Ignore macOS specific files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore backup files
*~
*.bak
